
<ion-header>

  <ion-navbar>
    <ion-title>Produto</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-card-content>

      <ion-row>
        <ion-col col-10>
          <ion-item>
            <ion-label floating>Código de Barra</ion-label>
            <ion-input [(ngModel)]="produto.codigo" type="text"></ion-input>
          </ion-item>        
        </ion-col>

        <ion-col col-2>
          <button (click)="scan()" ion-button clear style="height: 100%">
            <ion-icon name="barcode"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      
      <ion-item>
        <ion-label floating>Nome</ion-label>
        <ion-input [(ngModel)]="produto.nome" type="text"></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>Estoque</ion-label>
            <ion-input [(ngModel)]="produto.qtn" type="number"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label floating>Mínima</ion-label>
            <ion-input [(ngModel)]="produto.qtn_min" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      

      

      <ion-item>
        <ion-label floating>Valor</ion-label>
        <ion-input [(ngModel)]="custo.valor" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Loja</ion-label>
        <ion-select [(ngModel)]="custo.loja">
          <ion-option *ngFor="let l of lojas$ | async">{{l.nome}}</ion-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label floating>Categotia</ion-label>
        <ion-select [(ngModel)]="produto.categoria">
          <ion-option *ngFor="let c of categorias$ | async" value="{{c.nome}}">{{c.nome}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-buttons class="footer">
    <ion-row>
      <ion-col>
        <button (click)="cancelar()" ion-button full clear>Cancelar</button> 
      </ion-col>
      <ion-col>
        <button (click)="salvar(produto)" ion-button full clear>Salvar</button>
      </ion-col>
    </ion-row>
    
  </ion-buttons>
</ion-content>
