
<ion-header>

  <ion-navbar>
    <ion-title>Produto</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-card-content>

      <ion-item>
        <ion-label floating>Código de Barra</ion-label>
        <ion-input (click)="scan()" [(ngModel)]="produto.codigo" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Nome</ion-label>
        <ion-input [(ngModel)]="produto.nome" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Quantidade em estoque</ion-label>
        <ion-input [(ngModel)]="produto.qtn" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Quantidade mínima</ion-label>
        <ion-input [(ngModel)]="produto.qtn_min" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Valor</ion-label>
        <ion-input [(ngModel)]="custo.valor" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Loja</ion-label>
        <ion-select [(ngModel)]="custo.loja">
          <ion-option *ngFor="let l of lojas$ | async">{{l.nome}}</ion-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label floating>Categotia</ion-label>
        <ion-select [(ngModel)]="produto.categoria">
          <ion-option *ngFor="let c of categorias$ | async" value="{{c.nome}}">{{c.nome}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-buttons padding>
        <button (click)="cancelar()" ion-button block>Cancelar</button> 
        <button (click)="salvar(produto)" ion-button block>Salvar</button>
      </ion-buttons>

    </ion-card-content>
  </ion-card>
</ion-content>
