<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  
    <ion-buttons right>
      <button ion-button (click)="addProduto()">Novo produto</button>
    </ion-buttons>
  </ion-navbar>
  
  <ion-searchbar 
    [(ngModel)]="search"
    (ionInput)="onInput($event)">
  </ion-searchbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let p of produtos$ | async">
    <ion-card-header>
      <button (click)="hidden(p)" ion-button clear>
        <ion-icon name="book"></ion-icon> {{p.nome}}
      </button>
      <!--button ion-button clear (click)="removeProduto(p)">Remover</button-->
    </ion-card-header>

    <ion-card-content [hidden]="!p.show">
      <ion-row>
        <ion-col *ngFor="let cst of p.custo; index as i">
          <ion-label class="label-detail">{{cst.loja}}</ion-label>
          <button ion-button clear block (click)="editPreco(p,i)">
            {{cst.valor | format}}
          </button>
        </ion-col>

        <ion-col>
          <ion-label class="label-detail">Quantidade em estoque</ion-label>
          <button ion-button clear block (click)="editProduto(p,'Quantidade em estoque', 'qtn', 'Quantidade', 'number', p.qtn)">
            {{p.qtn}}
          </button>
        </ion-col>

        <ion-col>
          <ion-label class="label-detail">Quantidade mínima</ion-label>
          <button ion-button clear block (click)="editProduto(p,'Quantidade mínima', 'qtn_min', 'Quantidade', 'number', p.qtn_min)">
            {{p.qtn_min}}
          </button>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-label class="label-detail">Categoria</ion-label>
        <button ion-button block clear>
          {{p.categoria}}
        </button>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>
