page-home {

    .trilha-cardapio{
        border-left: 1px dashed map-get($colors, primary);
    }

    .trilha-categoria{
        border-left: 2px dashed map-get($colors, secondary);
    }

    .trilha-prato{
        border-left: 3px dashed map-get($colors, dark );
    }

    .trilha-item{
        border-left: 1px dashed map-get($colors, danger);
    }

    ion-card-content .card-md{
        margin: 0px 0px 0px 23px;
        box-shadow: 0px 0px;
        border-radius: 0px;
        -webkit-box-shadow: 0px 0px;
    }

    .label-detail{
        text-align: center;
        font-size: 0.8em;
    }
}
